.header{
    display: flex;
    justify-content: center;
}

.body{
    margin: 2em 20em;
}

.button{
    display: flex;
    justify-content: flex-start;
    margin: 0.5em 0;
}

.relationship{
    display: flex;
}